/* Typography
---------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
}

.mono {
    font-family: 'Inconsolata', monospace;
}

/* Colors
---------------------------------*/

.text-blue {
    color: #178ce7;
}

.text-gray {
    color: #9a9a9a;
}

.text-white {
    color: #fff;
}

.blue {
    background-color: #178ce7;
}

.gray {
    background-color: #9a9a9a;
}

.white {
    background-color: #fff;
}

hr {
    border-top: 1px solid #178ce7;
    margin: 45px auto;
}

input[type="submit"].button-primary,
input[type="submit"].button-primary:visited,
input[type="submit"].button-primary:focus {
    background-color: #178ce7;
    border-color: #178ce7;
}

input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:active {
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #178ce7;
}

a,
a:hover,
a:active {
    color: #178ce7;
}

.link-white,
.link-white:hover,
.link-white:active {
    color: #fff;
}

/* General Formatting
---------------------------------*/

.container {
    margin-top: 150px;
}

.main-text {
    max-width: 500px;
    margin: 15px auto;
    float: right;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.logo img {
    max-width: 400px;
    max-height: 400px;
}

.logo {
    margin-bottom: 50px;
}

.form {
    margin-bottom: 50px;
}

.mobile-partners {
    display: none;
}

ul {
    list-style-type: disc;
}

.footer {
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
}

.footer .container {
    margin-top: 0;
}

.social {
    float: right;
    margin: 0 10px;
}

/* Media Queries
---------------------------------*/

@media (max-width: 550px) {
    .container {
        margin-top: 75px;
    }

    form .two {
        text-align: center;
    }

    a[target="_blank"] img {
        display: none;
    }

    .mobile-partners {
        display: block;
    }
}
